In [1]:
import pandas as pd

# Create the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', None, 'Eve'],
    'Age': [24, None, 22, 32, 29],
    'City': ['New York', 'Los Angeles', None, 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, None, 120000, None]
}

df = pd.DataFrame(data)

# Display the DataFrame
print("DataFrame:")
print(df)

# Count missing values in each column
missing_counts = df.isnull().sum()
print("\nMissing values in each column:")
print(missing_counts)

# Calculate the average salary, ignoring NaN values
average_salary = df['Salary'].mean()

# Create a new column Salary_Filled with filled values
df['Salary_Filled'] = df['Salary'].fillna(average_salary)

# Display the updated DataFrame
print("\nUpdated DataFrame with Salary_Filled:")
print(df)

DataFrame:
      Name   Age         City    Salary
0    Alice  24.0     New York   70000.0
1      Bob   NaN  Los Angeles   80000.0
2  Charlie  22.0         None       NaN
3     None  32.0      Houston  120000.0
4      Eve  29.0      Phoenix       NaN

Missing values in each column:
Name      1
Age       1
City      1
Salary    2
dtype: int64

Updated DataFrame with Salary_Filled:
      Name   Age         City    Salary  Salary_Filled
0    Alice  24.0     New York   70000.0        70000.0
1      Bob   NaN  Los Angeles   80000.0        80000.0
2  Charlie  22.0         None       NaN        90000.0
3     None  32.0      Houston  120000.0       120000.0
4      Eve  29.0      Phoenix       NaN        90000.0