In [1]:
import pandas as pd

In [3]:
My_info = {'Name': 'Aderinola Zainab', 'Age': 22, 'Country':'Nigeria', 'Hubby': 'Eating'}

In [7]:
My_info['Name']

'Aderinola Zainab'

In [8]:
My_info

{'Name': 'Aderinola Zainab',
 'Age': 22,
 'Country': 'Nigeria',
 'Hubby': 'Eating'}

In [9]:
My_info.values()

dict_values(['Aderinola Zainab', 22, 'Nigeria', 'Eating'])

In [11]:
print('My name is {}, and i am {} years old from {}'.format(My_info['Name'],My_info['Age'], My_info['Country']))

My name is Aderinola Zainab, and i am 22 years old from Nigeria

In [13]:
My_Info2 = {'Name': ['Aderinola Zainab', 'Balogun Sofiat',  'Balogun Qudrat'], 'Age': [22, 24, 30], 'State': ['Oyo', 'Lagos', 'kwara']}
My_Info2

{'Name': ['Aderinola Zainab', 'Balogun Sofiat', 'Balogun Qudrat'],
 'Age': [22, 24, 30],
 'State': ['Oyo', 'Lagos', 'kwara']}

In [15]:
print('My name is {}, and i am {} years old from {}'.format(My_Info2['Name'],My_Info2['Age'], My_Info2['State']))

My name is ['Aderinola Zainab', 'Balogun Sofiat', 'Balogun Qudrat'], and i am [22, 24, 30] years old from ['Oyo', 'Lagos', 'kwara']

In [16]:
df=pd.DataFrame(My_Info2)
df

               Name  Age  State
0  Aderinola Zainab   22    Oyo
1    Balogun Sofiat   24  Lagos
2    Balogun Qudrat   30  kwara